* {
  padding: 0%;
  margin: 0%;
}

.divider-rightcom {
  background-color: #050505;
  margin-left: 40px;
  margin-top: 60px;
  font-size: 2px;
}

.fullscreen {
  background-image: url(bck-image.jpg);
  width: 1536px;
  height: 753px;
}

.navbar {
  padding: 0%;
  margin: 0%;
}

.user-name {
  font-size: 26px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.containersign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.containersignup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  margin-top: 0.5px;
  display: flex;
  background-color: #050505;
}

.item1 {
  background-color: rgb(239, 241, 243);
  padding: 10px;
  text-align: center;
  color: #050505;
  margin-right: 0px;
  width: 370px;
  height: 713px;
}

.h1Chats {
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.7rem;
}

.leftcomheader {
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.2rem;
}

.leftcombody {
  padding-right: 15px;
  margin-left: 3px;
}

.item2 {
  background-color: white;
  padding: 10px;
  text-align: center;
  color: #050505;
  margin-right: 0px;
  width: 700px;
}

.name-contacts {
  margin-top: 5px;
  margin-left: 3px;
}

.Search {
  background-color: white;
  display: flex;
  align-items: flex-start;
  border-radius: 30px;
  padding: 0.2rem;
  margin-top: 5px;
}

.Searchform {
  margin-left: 20px;
  margin-right: 20px;

}

.item3 {
  background-color: rgb(239, 241, 243);
  padding: 10px;
  text-align: center;
  color: #050505;
  width: 404px;
}

.box-frame-signup {
  background-color: rgba(182, 218, 235, 0.5);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 26px;
  width: 402px;
  height: 600px;
  max-width: 80%;
  box-sizing: border-box;
}

.box-frame {
  background-color: rgba(182, 218, 235, 0.5);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 26px;
  width: 402px;
  height: 400px;
  max-width: 80%;
  box-sizing: border-box;
}

.changecomponentbtn {
  font-size: 15px;
  font-weight: 100;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.txt {
  margin-right: 5px;
}

.email {
  margin-bottom: 20px;
  margin-top: 15px;
}

.btnsignin {
  margin-top: 30px;
  margin-bottom: 15px;
}

.Stack-root {
  display: flex;
  font-size: 30px;
}

.MuiIconButton-root {
  margin-top: 12px;
}

.MuiButton-root {
  background-color: #2196f3;
  color: #ffffff;
}

.MuiButton-root:hover {
  background-color: #1976d2;
}

.MuiButton-root:active {
  background-color: #1565c0;
}

.MuiButton-root:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.editable-field {
  outline: none;
  border: none;
}